:root{ 
    --dark:#374151;
    --darker:#1F2937;
    --darkest:#111827;
    --gray:#687280;
    --light:#EEE;
    --pink:#EC4899;
    --purple:#8B5Cf6;
}


* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Fira sans", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--dark);
    color: #fff;
    max-height: 40px;
}

.conteiner{
    display: flex;
    flex-flow: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-top: 15px;
}


.new-task-input{
    min-width: 600px;
    height: 100px;
    background-color: rgb(79, 82, 117);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    margin: 15px;
    color: var(--light);
    font-size: 1rem;
    border: #EC4899 300px;
    
}


.createtask{
    background-image: linear-gradient(to right, var(--pink),
    var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
    padding-top: 10px;
    margin-top: 10px;
    margin-left: 18px;
    border-color: transparent;
    margin-bottom: 10px;
    padding: 5px;
}

.MyTasks{
    background: black;
    width: 120px;
    border-radius: 15px;
    margin-left: 18px;
    margin-top: 10px;
}


.create-link{
    background: black;
    margin-left: 18px;
    border-radius: 10px;
    border: 15px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-decoration: none;
}

.createTask:hover {
    opacity: 0.8;
}

.createTask:active {
    opacity: 0.6;
}

.task-info{
    background-image: linear-gradient(to left, rgb(0, 0, 0),
    rgb(16, 16, 17));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}