:root{ 
    --dark:#374151;
    --darker:#1F2937;
    --darkest:#111827;
    --gray:#687280;
    --light:#EEE;
    --pink:#EC4899;
    --purple:#8B5Cf6;
}


.createTask{
    background-image: linear-gradient(to right, var(--pink),
    var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
    margin-bottom: 10px;
}

.createTask:hover {
    opacity: 0.8;
}

.createTask:active {
    opacity: 0.6;
}

.create-div{
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    width: 500px;
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin-left: 10px;

}

.create-input{
    background-color: var(--darker);
    border-radius: 1rem;
    margin-left: 1rem;
    color: var(--light);
    font-size: 1.25rem;
}

.task-label{
    font-size: 20px;
    background-image: linear-gradient(to left, rgb(42, 154, 219),
    rgb(114, 52, 196));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.task-link{
    margin-left: 10px;
    padding: 5px 10px;
    margin-bottom: 10px;
    background: black;
    border-radius: 10px;
    border: 15px;
    width: 120px;
}